<!DOCTYPE html>
<html>
<head>
  <title>AdlerReader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'shared/header' %>
  </header>
  
  <div id="flashdiv">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <%= yield %>
    </div>
  </div>

</body>
</html>
