<!DOCTYPE html>
<html>
<head>
  <title>ActiveReader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<%= body_tag do %>
  <header>
    <%= render 'shared/header' %>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    </div>
  </div>

<% end %>
</html>
